/venv/
/src/cache/
/datasets/
/LMPowerConsumption/.idea/LMPowerConsumption.iml
/LMPowerConsumption/.idea/modules.xml
/LMPowerConsumption/.idea/inspectionProfiles/profiles_settings.xml
/LMPowerConsumption/.idea/vcs.xml